.spacex-launch-container {
  background-color: #F2F3F2;
  .spacex-launch-row {
    background-color: #F2F3F2;
    .SpaceX-heading {
      font-weight: bold;
    }
    .spacex-rows {
      background-color: #F2F3F2;
    }
    .filter-section {
      background-color: #F2F3F2;
      position: relative;
      margin-bottom: .5rem;
    }
  }
}
